<!-- <footer>
    <div class="row">
        <div class="col">
            <img class="Dlogo" width="300px" src="../assets/img/footerlogo.png" alt="">
        </div>
        <div class="col">
            <h5><i class="fa-solid fa-location-dot"></i> Office Address</h5>
            <p>Office No.230,5th floor</p>
            <p>Al Wasi Building</p>
            <p>-364,Karama</p>
            <p>Dubai (UAE)</p>
        </div>
        <div class="col">
            <h5><i class="fa-solid fa-phone"></i> Contact No </h5>
            <span>Call: (+971) 585334661</span>
            <h5></h5>
            <p> <i class="fa-brands fa-whatsapp fa-xl"></i> - (+971) 58334661</p>
        </div>
        <div class="col">
            <h5 class="mail-id"><i class="fa-regular fa-envelope"></i> Mail - info@fincab.co </h5>
        </div>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2022 Fincab Management </p>
        <p> <i class="fa-solid fa-code"></i> Designed By <span>Prajwal</span> </p>
    </div>
</footer> -->

<footer>
    <div class="main-content">
        <img src="../assets/img/footerlogo.png" width="200px" height="150px" alt="">
        <div class="left box">
            
            <h2>Why Fincab</h2>
            <div class="offer">
                <p>We are at Fincab, We assist clients in reducing their financial burden by providing relevant economically methods so they can manage their liabilities even with a limited income.</p>
                <!-- <div class="social">
                    <a href="#"><span><i class="fa-brands fa-facebook fa-xl"></i></span></a>
                    <a href="#"><span><i class="fa-brands fa-twitter fa-xl"></i></span></a>
                    <a href="#"><span><i class="fa-brands fa-instagram fa-xl"></i></span></a>
                    <a href="#"><span><i class="fa-brands fa-whatsapp fa-xl"></i></span></a>
                </div> -->
            </div>
        </div>
        <div class="center box">
            <h2>Address</h2>
            <div class="offer">
                <div class="place">
                    <span class="fas fa-map-marker-alt "></span>
                    <span class="text"> Office No.230,5th floor, Al Wasi Building </span>
                    <span class="text" style="margin-left: 40px ;"> -364,Karama Dubai (UAE)</span>
                </div>
                <div class="phone">
                    <span class="fas fa-phone-"><i class="fa-solid fa-mobile-screen "></i></span>
                    <span class="text"> (+971) 585334661 </span>
                </div>
                <div class="mail">
                    <span class="fas fa-phone-"> <i class="fa-solid fa-envelope"></i></span>
                    <span class="text"> Mail - info@fincab.co</span>
                </div>
            </div>
        </div>
        <div class="right box">
            <h2>Contact Us</h2>
            <div class="offer   ">
                <form action="https://formspree.io/f/maykrwwq" method="POST">
                    <div class="Email">
                        <div class="text">Email *</div>
                        <input type="email" required>
                    </div>
                    <div class="msg">
                        <div class="text">Message *</div>
                        <textarea rows="3" cols="25" required></textarea>
                    </div>
                    <div class="btn">
                        <button type="submit">Send</button>
                        <div class="whatsapp_float">
                            <a aria-label="Chat on WhatsApp" href="https://wa.me/918421485147"><img src="../assets/img/whatsapp-logo.png" class="whatsapp_float_btn" width="50px" height="auto" alt=""></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="bottom">
        <div class="centerbtm">
            <span class="credit"> Created By <a href="#"> <span><i class="fa-brands fa-instagram"></i></span>
                    prajwal_4501</a> | </span>
            <span class="far fa-copyright " style="letter-spacing:3px ;"></span><span>2022 All rights reserved by <a href="">Softup Trade
                    Pvt.Ltd</a></span>
        </div>
        <!-- <p>copyright &copy;2022 Fincab Management </p>
        <p> <i class="fa-solid fa-code"></i> Designed By <span>Prajwal</span> </p> -->

    </div>
</footer>