<div style="width: 100% ;height: auto;">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/img/bussinessbnr.jpg" class="d-block w-100" alt="...">
            </div>
            <!-- <div class="carousel-item">
                <img src="../assets/img/contact bnr.png" class="d-block w-100" alt="...">
            </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div
    style="margin: 0px auto ; text-align: center;font-size: 10vh; color: #e9e8ed; background-color: lightgray; background-size:cover;">
    <b>BUSINESS ACCOUNT OPENING</b>
</div>
<div class="container">

    <div style="margin: 0px auto; text-align: center;">
        <h1> <b style="font-size: 10vh;">BUSINESS ACCOUNT</b></h1>
        <p style="text-align: center;">A business needs a system to manage its money. 
            Business accounts are used to track the cash balance, money owed to the business,
             money owed to creditors and payroll paid to employees.</p>
             <h3>We have the right account for you and your business</h3>
    </div>
    <!-- <div class="row">
        <div class="col-md-4 text-center">
            <div class="icon">
                <i class="fa-solid fa-handshake"></i>
            </div>
            <h3>CURRENT ACCOUNT</h3>
            <P>Our Business Current Account is ideal for your routine financial needs. It offers:</P>
            <p><span><i class="fa-regular fa-file-lines fa-xl"></i> Hassle-free Documentation</span></p>

            <p><span> <i class="fa-solid fa-percent fa-xl"></i> Lowest Interest Rates & Easy EMI</span></p>

            <p> <span><i class="fa-solid fa-user-check fa-xl"> </i> Verified Easy Loan preApproval </span></p>

            <p> <span><i class="fa-solid fa-user-check fa-xl"> </i> No extra charges if you settle loan early </span>
            </p>

            <p> <span><i class="fa-solid fa-sack-dollar fa-xl "></i> Additional Benefits for Existing Customers </span>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <div class="icon">
                <i class="fa-solid fa-clipboard-check"></i>
            </div>
            <h3>Documents Required</h3>
            <p> <span><i class="fa-regular fa-circle-check"></i></span> Application Form, Passport copy</p>
            <p> <span><i class="fa-regular fa-circle-check"></i></span> Labour Card / Govt issued ID card copy</p>
            <p> <span><i class="fa-regular fa-circle-check"></i></span> Emirates ID card copy</p>
            <p> <span><i class="fa-regular fa-circle-check"></i></span> Salary Certificate</p>
            <p> <span><i class="fa-regular fa-circle-check"></i></span> 3/6 months bank statement (Personal)</p>


        </div>
        <div class="col-md-4 text-center">
            <div class="icon">
                <i class="fa-solid fa-user-check"></i>
            </div>
            <h3>Eligibility Criteria</h3>
            <div style="margin: 30px ;">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Salaried
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Self-Employed
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
    <div style="padding: 40px ; font-size: 20px;">
        <p style="text-align: left ;">
            The business accounts are different from personal or private bank accounts because they are especially for businesses.
        </p>
    </div>
    <div class="clearfix">
        <img src="../assets/img/start-your-own-business.jpg" style="max-width:Auto ; max-height:300px!important;margin-top: 2%;"
            class="col-md-6 float-md-end mb-3 ms-md-3">

        <div>
            <h2 style=" text-align: center; color:  orange;">Overview </h2>
            <p>
                The business account is the prerequisite to run any company but often customers do not share a pleasant
                 experience with the complicated and tedious process. Don't worry, we are here to offer expert guidance
                  and make it a hassle-free experience for our valued customers.
            </p>
            <p>
                Be it a Sole establishment, LLC, Partnerships, a business account can be opened for both listed and non-listed companies.
            </p>
            <h3>Mandatory Requirements</h3>
            <p>
                
            </p>
            <p> <span><i class="fa-solid fa-check"></i>  </span>A valid copy of Passport, Resident visa, and Emirates ID of all the partners, if applicable.</p>
            <p><span><i class="fa-solid fa-check"></i>  </span> Trade License</p>
            <p><span><i class="fa-solid fa-check"></i>  </span> Processing fees are low</p>
            <p><span><i class="fa-solid fa-check"></i>  </span> MOA or AOA</p>
            <p><span><i class="fa-solid fa-check"></i>  </span> Tenancy Contract</p>
            <h3>Why Should You Get a Business Account?</h3>
            <p>
                The benefits of having a separate business account in UAE for an organization can be clearly seen. Following are the reasons why a business owner should get this bank account.
            </p>
            <h4>Tracking Expenses</h4>
            <p>
                This type of bank account assists the owners of any business in tracking their expenses.
                 This way, they are aware of the expenses they are making. This, in turn, helps them in managing 
                 these expenses as per the financial situation and requirement of the business.
            </p>
            
            <h4>Cash Flow</h4>
            <p>Since the business owners stay aware of the income and expenses through this bank account, it makes it easy for them to manage the cash flows.</p>
            
            <h4>Calculating the Tax</h4>
            <p>
                With the business account, it becomes easier for organizations to calculate their tax liabilities. It helps in keeping transparency in the payment of tax.</p>


                <h4>Business Loan</h4>
            <p>
                Having a corporate account can be beneficial if the business owner wishes to take out a loan for their business or obtain a business credit card.
            </p>

            <h4>Card Payments</h4>
            <p>
                This bank account helps the organization in taking card payments through their customers.

            </p>

            <div>
                <img src="../assets/img/bussinessacont.jpg" style="max-width:Auto ; max-height:400px!important;margin-top: 6%;"
            class="col-md-6 float-md-end mb-3 ms-md-3">
                <h3>Features and Benefits of Business Account</h3>
            <p> <span><i class="fa-solid fa-check"></i>  </span> Protection</p>
            <p><span><i class="fa-solid fa-check"></i>  </span> Professionalism</p>
            <p><span><i class="fa-solid fa-check"></i>  </span> Purchasing Power</p>
            <p><span><i class="fa-solid fa-check"></i>  </span> Preparedness</p>
            <p><span><i class="fa-solid fa-check"></i>  </span> Minimum Account Balance</p>
            <p> <span><i class="fa-solid fa-check"></i>  </span> Interest Rate</p>
            <p> <span><i class="fa-solid fa-check"></i>  </span> Online Access</p>
            <p> <span><i class="fa-solid fa-check"></i>  </span> Cheque Book Facility</p>
            <p> <span><i class="fa-solid fa-check"></i>  </span> International Remittance</p>
            <p> <span><i class="fa-solid fa-check"></i>  </span> Multiple Currency</p>
            </div>


        </div>
    </div>
</div>
<app-contactus></app-contactus>