<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../assets/img/aboutbanner.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../assets/img/banner02.jpg" class="d-block w-100" alt="...">
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<hr>
<div class="section" style="width: 100% ;height: auto;">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1> <strong> About Us</strong></h1>
            </div>
            <div class="content">
                <h3 style="color:orange ;">"We Help Our Clients To Achieve Their Desire Goals"</h3>
                <p style="line-height:2.1em ;padding: 10px;">FINCAB is a team consisting of experienced financial advisors with decades of experience in Business
                    Banking Products
                    also debt re-structuring ( saleried & self-employed).
                    We at FINCAB , Business Banking Servises Provider company cultivating Financial freedom
                    with Fair honest, transparent, and ethical conduct. We are always passionate
                    about offering the highest standards of quality services.
                </p>
                <p style="line-height:2.1em ;padding: 10px;">
                    We facilitate your financial needs and assist between you and the banks or other lending
                    institutions for securing Business loans, Trade Facilities, Mortgage Loans, Business Account Opening
                    and all types of bank facilities.
                </p>

                <!-- <div class="button">
                    <a href="">Read More</a>
                </div> -->
            </div>
        </div>
        <div class="image-section">
            <img src="../assets/img/about_us.png">
        </div>
    </div>
</div>
