<div style="width: 100% ;height: auto;">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/img/personal_loan.png" class="d-block w-100" alt="...">
            </div>
            <!-- <div class="carousel-item">
                <img src="../assets/img/contact bnr.png" class="d-block w-100" alt="...">
            </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div
    style="margin: 0px auto ; text-align: center;font-size: 10vh; color: #e9e8ed; background-color: lightgray; background-size:cover;">
    <b>PERSONAL LOAN</b>
</div>
<div class="container">

    <div style="margin: 0px auto; text-align: center;">
        <h1> <b style="font-size: 10vh;">Personal Loan</b></h1>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="icon">
                <i class="fa-solid fa-handshake"></i>
            </div>
            <h3>Features & Benefits</h3>
            <p><span><i class="fa-regular fa-file-lines fa-xl"></i> Hassle-free Documentation</span></p>

            <p><span> <i class="fa-solid fa-percent fa-xl"></i> Lowest Interest Rates & Easy EMI</span></p>

            <p> <span><i class="fa-solid fa-user-check fa-xl"> </i> Verified Easy Loan preApproval </span></p>

            <p> <span><i class="fa-solid fa-user-check fa-xl"> </i> No extra charges if you settle loan early </span>
            </p>

            <p> <span><i class="fa-solid fa-sack-dollar fa-xl "></i> Additional Benefits for Existing Customers </span>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <div class="icon">
                <i class="fa-solid fa-clipboard-check"></i>
            </div>
            <h3>Documents Required</h3>
            <p> <span><i class="fa-regular fa-circle-check"></i></span> Application Form, Passport copy</p>
            <p> <span><i class="fa-regular fa-circle-check"></i></span> Labour Card / Govt issued ID card copy</p>
            <p> <span><i class="fa-regular fa-circle-check"></i></span> Emirates ID card copy</p>
            <p> <span><i class="fa-regular fa-circle-check"></i></span> Salary Certificate</p>
            <p> <span><i class="fa-regular fa-circle-check"></i></span> 3/6 months bank statement (Personal)</p>


        </div>
        <div class="col-md-4 text-center">
            <div class="icon">
                <i class="fa-solid fa-user-check"></i>
            </div>
            <h3>Eligibility Criteria</h3>
            <div style="margin: 30px ;">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Salaried
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Self-Employed
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 40px ; font-size: 20px;">
        <p style="text-align: left ;">
            Don't let life's special moments pass you by. After all, some of them are once-in-a-lifetime occasions.
            Our personal loans cover just about everything that brings you happiness and joy, a family visit back home,
            building your business, your child’s education or wedding and much more.
        </p>
    </div>
    <div class="clearfix">
        <img src="../assets/img/personaluse.jpg" style="max-width:Auto ; max-height:300px!important;"
            class="col-md-6 float-md-end mb-3 ms-md-3">

        <div>
            <h2 style=" text-align: center; color:  orange;">Why Personal Loan </h2>
            <p>
                Looking for a personal loan? Maybe you are getting married, want to invest in further education,
                or are in need of some home improvements. Quick Finserv is here to help you.
                We work with the UAE’s top banks and make it easy for you to find the best offers and products.
            </p>
            <p>
                This service takes into account all personal loans of our customers, such as salary transfer loans or
                business loans,
                auto loans. Based on the customer’s financial situation, this will help them choose the most appropriate
                financial
                product. Our customers will be advised on how to effectively manage their loans.
            </p>
            <p>
                One of the most sought-after loans in Dubai is personal loans.
                Personal loans are more popular than larger loans like home loans and business
                loans because they can be repaid in shorter terms. You should do your research to find
                the best personal loan deal in Dubai.
            </p>
            <p>
                Before you can choose the best personal loan offer, you must first identify the features that you will be comparing. 
                These are the top features that will help you choose the best personal loan offer.
            </p>
            <p> <span><i class="fa-solid fa-check"></i>  </span> Low-interest rates</p>
            <p><span><i class="fa-solid fa-check"></i>  </span> Method of interest calculation: Reducing balance</p>
            <p><span><i class="fa-solid fa-check"></i>  </span> Processing fees are low</p>
            <p><span><i class="fa-solid fa-check"></i>  </span> Partial prepayment and low foreclosure charges</p>
            <p><span><i class="fa-solid fa-check"></i>  </span> Quick disbursal and simple documentation</p>
            <p>
                The maximum personal finance loan amount is 20 times the monthly salary.
                 Repayments can be made over 48 months. Personal loan interest rates in UAE 
                 and personal loan amounts are determined by factors like income source, credit history, age, job status, etc.
            </p>

        </div>
    </div>
</div>
<app-contactus></app-contactus>