<div style="width: 100% ;height: auto;">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/img/trade bnnr.jpg" class="d-block w-100" alt="...">
            </div>
            <!-- <div class="carousel-item">
                <img src="../assets/img/contact bnr.png" class="d-block w-100" alt="...">
            </div> -->
        </div>
    </div>
</div>
<div
    style="margin: 0px auto ; text-align: center;font-size: 10vh; color: #ddd; background-color: lightgray; background-size:cover;">
    <b>TRADE FINANCE LOAN</b>
</div>
<div class="container">

    <div style="margin: 0px auto; text-align: center;color: black;padding: 10px;">
        <h1> <b style="font-size: 10vh;">TRADE FINANCE</b></h1>
        <b>We provide a better and faster alternative international trade finance solutions compared to the banks.
            We take the time to learn about your business and its needs. We then work to offer you the best finance
            solution your business needs to succeed. </b>
        <p style="background-color:green ;color: #ddd;font-size: large"><b>Talk to us today and learn how we can partner
                you in your business success.</b></p>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="icon">
                <i class="fa-solid fa-ship fa-beat"></i>
            </div>
            <h3>TRADE FINANCE</h3>
            <p>Benefit from a variety of receivables and payables credit facilities for your exports and imports of
                goods and services</p>
            <!-- <p>Plan to purchase a second home or an income property? Our advisors can help you get the best mortgage deals.</p> -->
        </div>
        <div class="col-md-4 text-center">
            <div class="icon">
                <i class="fa-solid fa-truck fa-beat"></i>
            </div>
            <h3>LOGISTICS FINANCE</h3>

            <p>Access to receivables and payables financing facilities for sales and purchase of logistics services</p>
        </div>
        <div class="col-md-4 text-center">
            <div class="icon">
                <i class="fa-solid fa-dolly fa-beat"></i>
            </div>
            <h3>INVENTORY FINANCE</h3>
            <p>
                Leverage your inventory as collateral and finance your business based on the value of your stock in the
                warehouse </p>
            <div style="margin: 30px ;">
            </div>
        </div>
    </div>
    <hr>
    <div style="padding: 40px ; font-size: 20px;">
        <p style="text-align: left ;">
            Trade Finance is the financing of goods or services in a trade or transaction, from a supplier through to
            the end buyer. It accounts for 3% of global trade, worth some $3tn annually. ‘Trade Finance’ is an umbrella
            term, which includes a variety of financial instruments that can be used by an importer or exporter.
        </p>
        <div>

            <img src="../assets/img/trade-finance.jpg"
                style="max-width: auto ;max-height:300px!important;margin-top: 10%;"
                class="col-md-6 float-md-end mb-3 ms-md-3">

            <div>
                <h1 style="color:#0f5e0d ;">Highlights:</h1>
                <p>The significant features of our offerings are:</p>
                <p><span><i class="fa-solid fa-check"></i></span> Purchase Order Finance </p>
                <p><span><i class="fa-solid fa-check"></i></span> Stock Finance </p>
                <p><span><i class="fa-solid fa-check"></i></span> Structured Commodity Finance </p>
                <p><span><i class="fa-solid fa-check"></i></span> Invoice Finance (Discounting & Factoring) </p>
                <p><span><i class="fa-solid fa-check"></i></span> Supply Chain Finance </p>
                <p><span><i class="fa-solid fa-check"></i></span> Letters of Credit (LCs)</p>
                <p><span><i class="fa-solid fa-check"></i></span> Bonds & Guarantees </p>
            </div>
        </div>
    </div>
    <div>
        <p>
            Trade Finance is the financing of goods or services in a trade or transaction, from a supplier through to the end buyer.
        </p>
        <h2 style="color: orange; font-size:x-large;text-align: center;">
            The terms Import Finance and Export Finance are used interchangeably with Trade Finance.
        </h2>
    </div>
    <div class="clearfix">
        <img src="../assets/img/pngwing.png"
            style="max-width:Auto ; max-height:600px!important; margin-top: 5%; margin-top: 10%;"
            class="col-md-6 float-md-end mb-3 ms-md-3">

        <div class="info">
            <h2 style=" text-align:justify; color:  orange;"> </h2>
           
            
            <h4 style="color:black ;">
                How can trade finance benefit my UAE-based business?
            </h4>
            <p>Trade finance facilitates the growth of a business by securing funds required to purchase goods and stock. Managing cash and working capital is critical to the success of any business. Trade finance is a tool which is used to unlock capital from a company’s existing stock or receivables or add further finance facilities based on a company’s trade cycles.</p>
            <p>
                Why does this help? A trade finance facility may allow you to offer more competitive terms to both suppliers and customers, by reducing payment gaps in your trade cycle. It is beneficial for supply chain relationships and growth.
            </p>
            <h4  style="color:black ;">Other benefits of trade finance</h4>
            <p><span><i class="fa-solid fa-check"></i></span> Short to medium-term working capital, using the underlying products or services being imported/exported as security/collateral. It increases the revenue potential of a company, and earlier payments may allow for higher margins. </p>
            <p><span><i class="fa-solid fa-check"></i></span> Trade finance allows companies to request higher volumes of stock or place larger orders with suppliers, leading to economies of scale and bulk discounts. </p>
            <p><span><i class="fa-solid fa-check"></i></span> Trade finance can also help strengthen the relationship between buyers and sellers, increasing profit margins. It allows a company to be more competitive. </p>
            <p><span><i class="fa-solid fa-check"></i></span> Managing the supply chain is critical for any business. Trade and supply chain finance helps ease out cash constraints or liquidity gaps – for suppliers, customers, third parties, employees or providers. Earlier payments also mitigate risk for suppliers.</p>
<hr>
            <p>It is important to note that trade finance focuses more on the trade than the underlying borrower, i.e. it is not balance sheet led. Therefore, small businesses with weaker balance sheets can use trade finance to trade significantly larger volumes of goods or services and work with stronger end customers.</p>
            <p>Due to the embedded risk mitigants that surround trade finance lending and instruments, it leads to the potential of a diversity of supplier base for trading companies. A more diverse supplier network increases competition and efficiency in markets and supply chains.</p>
            <p>Companies can also mitigate business risks by using appropriate trade finance structures. Late payments from debtors, bad debts, excess stock and demanding creditors can have detrimental effects on a business. External financing or revolving credit facilities can ease this pressure by effectively financing trade flows.</p>
        </div>
        <hr>

    </div>
</div>
<app-contactus></app-contactus>