<div style="width: 100% ;height: auto;">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/img/service-bnr02.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../assets/img/contact bnr.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container-fluid">
    <h1 class="text-center mt-5 display-3 fw-bold" style="color:#bc1b1b ;">Our <span class="theme-text" style="color:#065904;" >Services</span></h1>
    <hr class="mx-auto mb-5 w-25">
    <div class="row mb-5">
        <div class="col-12 col-sm-6 col-md-3 m-auto">
            <!-- card starts here -->
            <div class="card shadow">
                <img src="../assets/img/LOAN-FOR-BUSINESS.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h3 class="text-center">Bussiness Loan</h3>
                    <hr class="mx-auto w-75">
                    <p>
                        Many people come to try their luck in the land of gold. 
                        UAE is the best place to start a business overseas. The UAE is a stable country in terms of financial support.
                        There are many types of business loans available, depending on your needs and availability.
                    </p>
                </div>
            </div>
            <!-- card ends here -->
        </div>
        <!-- col ends here -->
        
        <div class="col-12 col-sm-6 col-md-3 m-auto">
            <!-- card starts here -->
            <div class="card shadow">
                <img src="../assets/img/tradeimg.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h3 class="text-center">Trade Finance</h3>
                    <hr class="mx-auto w-75">
                    <p>
                        It's possible and easier for importers and exporters to transact business through trade. 
Trade finance can help reduce the risk associated with global trade by reconciling the divergent needs of an exporter and importer.
                    </p>
                </div>
            </div>
            <!-- card ends here -->
        </div>
        <!-- col ends here -->
        <div class="col-12 col-sm-6 col-md-3 m-auto">
            <!-- card starts here -->
            <div class="card shadow">
                <img src="../assets/img/mortgage-img (1).jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h3 class="text-center">Mortgage loan</h3>
                    <hr class="mx-auto w-75">
                    <p>
                        Buying a home can be daunting, especially for people buying their first home in the UAE. That's where Fincab comes in instant applications for people who want the best finance for their home, 
                        we know the lay of the land so Contact with our experts to make
                    </p>
                </div>
            </div>
            <!-- card ends here -->
        </div>
        <!-- col ends here -->
        <div class="col-12 col-sm-6 col-md-3 m-auto" style="padding: 10px;">
            <!-- card starts here -->
            <div class="card shadow">
                <img src="../assets/img/personalmoney.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h3 class="text-center">Personal Loan</h3>
                    <hr class="mx-auto w-75">
                    <p>
                        Looking for a personal loan?
                        want to invest in further education, or are in need of some home improvements. 
                        FinCab is here to help you. We work with the UAE’s top banks and make it easy for you
                        to find the best offers and products.
                    </p>
                </div>
            </div>
            <!-- card ends here -->
        </div>
        <hr>
        <!-- col ends here -->
        <img src="../assets/img/loan.png" alt="">
        <div class="col-12 col-sm-6 col-md-3 m-auto">
            <!-- card starts here -->
            <div class="card shadow">
                <img src="../assets/img/open-account-.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h3 class="text-center">Bussiness Account</h3>
                    <hr class="mx-auto w-75">
                    <p>
                        A business needs a system to manage its money. Business accounts are used to track the cash balance, money owed to the business, money owed to creditors and payroll paid to employees.
                    </p>
                </div>
            </div>
            <!-- card ends here -->
        </div>
        <img src="../assets/about/abouthome.png" alt="">
    </div>
</div>
<app-contactus></app-contactus>
