<div style="width: 100% ;height: auto;">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/img/mortgage bn.jpg" class="d-block w-100" alt="...">
            </div>
            <!-- <div class="carousel-item">
                <img src="../assets/img/contact bnr.png" class="d-block w-100" alt="...">
            </div> -->
        </div>
    </div>
</div>
<div
    style="margin: 0px auto ; text-align: center;font-size: 10vh; color: #ddd; background-color: lightgray; background-size:cover;">
    <b>MORTGAGE LOAN</b>
</div>
<div class="container">

    <div style="margin: 0px auto; text-align: center;color: black;">
        <h1> <b style="font-size: 10vh;">Mortgage Loan</b></h1>
        <b>Own a property in Dubai and enjoy living in the most technologically advanced city,</b>
        <p><b>the safest, the melting pot of cultures.</b></p>
        <p>We cover every asset class</p>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="icon">
                <i class="fa-solid fa-house fa-beat"></i>
            </div>
            <h3>New Purchase</h3>
            <p>If you plan to invest in Dubai property or are looking for a home, our professional services can source
                the lowest interest rates and easy mortgage plans to help maximize your ROI.</p>
            <!-- <p>Plan to purchase a second home or an income property? Our advisors can help you get the best mortgage deals.</p> -->
        </div>
        <div class="col-md-4 text-center">
            <div class="icon">
                <i class="fa-solid fa-industry fa-beat"></i>
            </div>
            <h3>Commercial Property</h3>

            <p>Commercial properties like office space, industrial warehouses, apartment complexes, shopping complexes
                and other commercial properties require meticulous and diligent work; we make it easier for you to
                purchase in the commercial space.</p>
        </div>
        <div class="col-md-4 text-center">
            <div class="icon">
                <i class="fa-solid fa-city fa-beat"></i>
            </div>
            <h3>Multiple Units/Bulk Properties</h3>
            <p>
                Purchasing multiple units requires in-depth knowledge and planning involving multiple contractual
                obligations, lending institutions and brokers. Our dedicated team will ensure we do not miss any detail
                or deadline.
            </p>
            <div style="margin: 30px ;">

            </div>
        </div>
    </div>
    <div style="padding: 40px ; font-size: 20px;">
        <p style="text-align: left ;">
            A mortgage loan is a form of secured loan in which you can obtain cash by presenting the lender with your
            asset as security.
            A mortgage is often a loan secured by an immovable asset such as a home or business property. The asset is
            kept as collateral by the lender until the borrower repays the whole loan amount.
        </p>
        <h1>UAE property market growth still climbs in 2022</h1>
        <p>With the UAE property market already witnessing record-breaking growth since the end of 2021, the market is expected to keep rising. Last year, the value of property deals in Dubai more than doubled and broke a 12-year record for the value of sales.


            80% of property professionals surveyed over the past 12 months, and believe the UAE’s real estate market will grow faster over the coming year.
            
            
            Prices have expectedly been on the rise with high demand for real estate, but Dubai property experts evaluated no dent in the demand.</p>
    </div>
    <div class="clearfix">
        <img src="../assets/img/front-porch.jpg" style="max-width:Auto ; max-height:300px!important;"
            class="col-md-6 float-md-end mb-3 ms-md-3">

        <div>
            <h2 style=" text-align: center; color:  orange;">New Purchase </h2>
            <p>
                If you’re ready to purchase a new property, be it a second home or an income property, our advisors can
                help you get the best mortgage deals. Conventional loan enabling organizations offer limited financing
                options
                and prove less beneficial in the long run. We compare mortgage offers and provide a suitable financing
                solution
                crafted to your investment requirements.
            </p>
        </div>
        <div>
            <h2 style=" text-align: center; color:  orange;">Refinance/Buyout</h2>
            <p>
                Refinancing your mortgage can appear to be daunting at the onset. But we can help you charter the course
                by
                streamlining the entire process. From ensuring a smooth transfer of your existing mortgage midway to
                finding
                the most beneficial interest rest, you can trust our expertise and experience.
            </p>
        </div>
        <div>
            <h2 style=" text-align: center; color:  orange;">Under Construction </h2>
            <p>
                Your under-construction property can help you gain a mortgage at competitive rates.
                With scores of options available, the UAE’s real estate market offers investors a safe and beneficial
                environment.
                Whether you are a first-time homebuyer or a seasoned investor, our specialists can help you get the most
                lucrative
                mortgage option on your unfinished property.
            </p>
        </div>
        <div>
            <h2 style=" text-align: center; color:  orange;">Mortgage Solutions for Non-Residents </h2>
            <p>
                We currently and regularly provide mortgage advice and our services to our ever-growing non-resident
                clients. We have expertly crafted our advantages for the benefit of our non-resident clients. They enjoy
                the following perks of being associated with us: attractive interest rates, higher loan amounts,
                extended repayment periods, and no prepayment penalties. Many of our clients are often in need of
                project financing, and we are glad to extend our financing solutions to the cosmopolitan residents of
                the UAE.
            </p>
        </div>
        <div>
            <h2 style=" text-align: center; color:  orange;">NON-UAE RESIDENTS </h2>
            <p>
                If you want to buy a property in Dubai and you do not have a residency visa and if the apartment is
                under construction and you want to apply for a loan from the bank, you need to consider a couple of very
                important points.
            </p>
            <p>Banks will not give you a loan in you are a non-UAE resident unless the apartment is ready. What can you
                do now?
            </p>


            <P>
                We at FINCAB MANGEMENT recommend that before you buy any of plan property you should approach a
                few banks, talk to them, provide the documents asked by them and make sure that you are eligible to
                receive a
                loan from the bank and that you meet the criteria set by them
            </P>

            <P>If you buy a property, then on completion you realize that the banks would not give you a loan because of
                many possible reasons, you may find yourself in trouble.

                After that you can buy the property, pay your payments via installments and wait till completion of the
                project. Once the building is completed, developers will issue you a completion certificate notice that
                informs you and proves that the building is ready</P>
        </div>



    </div>
</div>
<app-contactus></app-contactus>