<div style="width: 100% ;height: auto;">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/img/aboutbanner.jpg" class="d-block w-100" alt="...">
            </div>
            <!-- <div class="carousel-item">
                <img src="../assets/img/contact bnr.png" class="d-block w-100" alt="...">
            </div> -->
        </div>
    </div>
</div>
<div
    style="margin: 0px auto ; text-align: center;font-size: 10vh; color: #ddd; background-color: lightgray; background-size:cover;">
    <b>BUSINESS LOAN</b>
</div>
<div class="container">

    <div style="margin: 0px auto; text-align: center;color: black;">
        <h1> <b style="font-size: 10vh;">Business Loan</b></h1>
        <b>Are you looking for a Business loan in Dubai? <a style="text-decoration:none ;" href="#">Fincab Services</a>  provides the right guidance and support </b>
        <p><b>to help you to meet your business needs.</b></p>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="icon">
                <i class="fa-solid fa-house fa-beat"></i>
            </div>
            <h3>New Purchase</h3>
            <p>If you plan to invest in Dubai property or are looking for a home, our professional services can source
                the lowest interest rates and easy mortgage plans to help maximize your ROI.</p>
            <!-- <p>Plan to purchase a second home or an income property? Our advisors can help you get the best mortgage deals.</p> -->
        </div>
        <div class="col-md-4 text-center">
            <div class="icon">
                <i class="fa-solid fa-industry fa-beat"></i>
            </div>
            <h3>Commercial Property</h3>

            <p>Commercial properties like office space, industrial warehouses, apartment complexes, shopping complexes
                and other commercial properties require meticulous and diligent work; we make it easier for you to
                purchase in the commercial space.</p>
        </div>
        <div class="col-md-4 text-center">
            <div class="icon">
                <i class="fa-solid fa-city fa-beat"></i>
            </div>
            <h3>Multiple Units/Bulk Properties</h3>
            <p>
                Purchasing multiple units requires in-depth knowledge and planning involving multiple contractual
                obligations, lending institutions and brokers. Our dedicated team will ensure we do not miss any detail
                or deadline.
            </p>
            <div style="margin: 30px ;">

            </div>
        </div>
    </div>
    <hr>
    <div style="padding: 40px ; font-size: 20px;">
        <p style="text-align: left ;">
            We provide state of the art financing solutions to the SME segment of the market catering to 
            their business requirements through a team of specialized SME Relationship Managers.
        </p>
        <div>
            
            <img src="../assets/img/service bnr 01.jpg" style="max-width: auto ;max-height:250px!important;margin-top: 20px;"  class="col-md-6 float-md-end mb-3 ms-md-3">
        
            <div>
                <h1 style="color: rgb(70, 70, 250) ;">Highlights:</h1>
            <p>The significant features of our offerings are:</p>
            <p><span><i class="fa-solid fa-check"></i></span> Flexible repayment period of up to 48 months.</p>
            <p><span><i class="fa-solid fa-check"></i></span> Loan amount up to AED 1 million</p>
            <p><span><i class="fa-solid fa-check"></i></span> Competitive interest rate</p>
            <p><span><i class="fa-solid fa-check"></i></span> Simple documentation and hassle-free service</p>
            <p><span><i class="fa-solid fa-check"></i></span>  No fixed deposit or cash margin requirement</p>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <img src="../assets/img/industrial-warehouse.jpg" style="max-width:Auto ; max-height:300px!important; margin-top: 5%;"
            class="col-md-6 float-md-end mb-3 ms-md-3">

        <div class="info">
            <h2 style=" text-align: center; color:  orange;"></h2>
            <p>
                
                UAE is an encouraging land for entrepreneurs to start their businesses.  Many people come to try their luck 
                in the land of gold. UAE is the best place to start a business overseas. The UAE is a stable country in terms 
                of financial support. Banks are able to provide financial support, i.e. a business loan in UAE, for entrepreneurs.
            </p>
            <p>
                People with working capital and financial difficulties need business loans. There are many types of business loans
                available, depending on your needs and availability.
            </p>
            <p>
                In Dubai, collateral is required for business loans. This is to ensure that there are no delays in approvals and minimal documentation.
                Among the several business loans, the perfect one would be the low-interest business loan that best suits you. It is important to understand that different loan types have different interest rates and repayment terms.
            </p>
            <p>This service helps business owners make the right financial decisions and guide them to the best products. This service analyzes and creates a strategy to help business owners who are struggling to repay their debts.</p>
             <p>
                We can arrange loans for business acquisitions or up-scaling of existing businesses. We will ensure that the investment loan you choose has the lowest interest rate and the least amount of risk and liabilities. 
                Our investment loan consulting services will help you to expand your business.
             </p>

        </div>
        


    </div>
</div>
